*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#fff;
  color:#222;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  border-bottom:1px solid #eee;
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color:#ff385c;
  font-weight:600;
  font-size:22px;
}

.airbnb-icon{
  color:#ff385c;
  font-size:30px;
  width: 32px;
  height: 32px;
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
    color: #ff385c;
    font-family: 'circular', sans-serif;
}

.center-menu{
  display:flex;
  gap:30px;
}

.menu-item{
  cursor:pointer;
  padding-bottom:5px;
  position: relative;
  transition: 0.3s ease;
  font-weight: 500;
}

.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.menu-item:hover::after {
  transform: scaleX(1);
  width: 100%;
}

.menu-item.active{
  border-bottom:2px solid black;
}
.right-menu{
  display:flex;
  gap:20px;
}

.profile{
  border:1px solid #ddd;
  padding:6px 12px;
  border-radius:20px;
}

/* SEARCH BAR */
.search-bar{
  width:65%;
  margin:30px auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 15px;
  border-radius:40px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  background: white;
}

.search-bar:active{
    background: white;
    box-shadow:0 6px 30px rgba(0,0,0,0.2);
}

.search-item:focus-within{
    background: white;
    box-shadow:0 6px 30px rgba(0,0,0,0.2);
}

.search-item{
  padding:10px 15px;
}

.search-item:hover{
  background:#f7f7f7;
  border-radius:20px;
}

.search-item small + .divider {
  transition: 0.3s ease; 
  font-weight:600;
  font-size:12px;
}

.search-item p{
  font-size:14px;
  color:gray;
}

.divider{
  width:1px;
  height:30px;
  background:#ddd;
}

.search-btn{
  background:#ff385c;
  border:none;
  padding:12px 16px;
  border-radius:50%;
  color:#fff;
  cursor:pointer;
}

/* SECTION */
.card-container {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    grid-template-columns: repeat(7,1fr);
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.card-container::-webkit-scrollbar {
    height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px; 
}

.card {
    cursor: pointer;
    position: relative;
}

.image-box {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 12px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.4s ease;
    display: block;
}

.image-box:hover img {
    transform: scale(1.08);
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 600;
}

.image-box:hover .tag {
    background: #ff385c;
    color: white;
}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.heart:hover {
    color: red;
    transform: scale(1.2);
}

.heart.active {
    color: red;
}

.card-content {
    margin-top: 8px;
}

.card-content h4 {
    font-size: 16px;
}

.card-content p {
    font-size: 14px;
    color: #555;
}

.price {
    font-weight: bold;
    margin-top: 4px;
    color: black;
}

/* Responsive */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2,1fr);
    }
}
